.petContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 30px;
  width: 100%;
  background-image: url('../../assets/imgs/mobile/rectangle-mob@1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .petContainer {
    background-image: url('../../assets/imgs/tablet/rectangle-tablet@1x.png');
  }
}

@media (min-width: 1280px) {
  .petContainer {
    background-image: url('../../assets/imgs/desktop/rectangle-desk@1x.png');
  }
}

@media screen and (min-width: 768px) {
  .petContainer {
    border-radius: 60px;
  }
}

.petImage {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .petImage {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .petImage {
    margin-left: 50px;
    /* flex-shrink: 1; */
  }
}
