.logoChange {
  width: 79px;
  height: 20px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .logoChange {
    width: 105px;
    height: 28px;
  }
}
.white {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  color: var(--white-color);
  background-color: transparent;
}
.color {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  color: var(--black-color);
  background-color: transparent;
}

.logo {
  background-color: transparent;
}
/* adder icon svg_________________________________________ */
.heartIcon {
  width: 0.7em;
  height: 0.7em;
  vertical-align: middle;
  margin: 0 0.1em;
}

.white {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  color: var(--white-color);
  background-color: transparent;
  display: flex;
  align-items: center;
}

.color {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  color: var(--black-color);
  background-color: transparent;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.logoContainer {
  display: flex;
  align-items: center;
}

.pawLink {
  margin-left: 10px;
}
.petAvatar {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;

  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--main-light);
}

@media screen and (min-width: 768px) {
  .petAvatar {
    width: 86px;
    height: 86px;
  }
}
.iconPetDefault {
  margin-top: 0;
}
