.logoChange {
  width: 79px;
  height: 20px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .logoChange {
    width: 105px;
    height: 28px;
  }
}
.white {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  margin-left: 42px;
  color: var(--white-color);
  background-color: transparent;
}
.color {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;

  color: var(--black-color);
  background-color: transparent;
}
.logo {
  background-color: transparent;
}
