.wrapperFriends {
  display: flex;
  position: relative;
  padding: 40px 25px 40px 20px;
  border-radius: 15px;
  background-color: var(--white-color);
}
.wrapperFriends:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .wrapperFriends {
    padding: 40px 20px;
  }
}

.hourTime {
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 1.33;
  padding: 8px;
  border-radius: 30px;
  text-align: 30px;
  color: var(--main-color);
  background-color: var(--hover-light);
}
@media screen and (min-width: 768px) {
  .hourTime {
    font-size: 14px;
    line-height: 1.28;
  }
}
.wrapperImage {
  width: 80px;
  height: 80px;
  margin-right: 14px;
}
@media screen and (min-width: 768px) {
  .wrapperImage {
    width: 90px;
    height: 90px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperImage {
    margin-right: 20px;
  }
}
.titleName {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .titleName {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
.descripnsonList {
  max-width: 194px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s ease-in-out;
}
.descripnsonList:not(last-child) {
  margin-bottom: 8px;
}
.descripnsonList:hover {
  cursor: poiner;
  color: var(--main-color);
}
.descriptionText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accentText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--border-color);
}
