.wrapperFriends {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  position: relative;
  border-radius: 15px;
  gap: 20px;
  padding: 50px 12px 40px 12px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapperFriends:not(last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .wrapperFriends {
    width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperFriends {
    width: 370px;
  }
}
.hourTime {
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 1.33;
  padding: 8px;
  border-radius: 30px;
  text-align: center;
  color: var(--main-color);
  background: var(--hover-light);
}

.wrapperImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapperImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.titleName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--dark-color);
}

.descriptionText {
  display: flex;
  min-width: 194px;
  font-weight: 500;
  gap: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-overflow: ellipsis;
  color: var(--dark-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.friendPhone,
.friendEmail,
.friendMaps {
  color: var(--dark-color);
  white-space: nowrap;
  max-width: 194px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.friendPhone:hover,
.friendEmail:hover,
.friendMaps:hover {
  color: var(--main-color);
}

.accentText {
  color: var(--light-border-color);
}
