.containerPageFriends {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleFriend {
  font-size: 28px;
  font-weight: 700;
  line-height: 0.94;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .titleFriend {
    margin-top: 40px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .titleFriend {
    margin-top: 60px;
    font-size: 54px;
  }
}
