.pageRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .pageRegister {
    padding: 32px;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .pageRegister {
    flex-direction: row;
    gap: 32px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
  border-radius: 30px;
  padding: 27px 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    height: 560px;
    border-radius: 60px;
    padding: 30px 140px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 592px;
    height: 654px;
    padding: 82px 84px;
  }
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .titleContainer {
    gap: 16px;
    margin-bottom: 32px;
  }
}
.description {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .description {
    gap: 18px;
  }
}
