.pageRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .pageRegister {
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .pageRegister {
    flex-direction: row;
    gap: 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 30px;
  padding: 27px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .container {
    border-radius: 60px;
    padding: 30px 100px 10px 100px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 592px;
    min-height: 620px;
    padding: 76px 83px 0px 83px;
  }
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .titleContainer {
    gap: 16px;
    margin-bottom: 32px;
  }
}
.description {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .description {
    gap: 18px;
  }
}
