.myNoticesWrap {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .myNoticesWrap {
    min-width: 700px;
    padding: 40px 40px 40px 20px;
    /* padding: 32px; */
  }
}

@media screen and (min-width: 1280px) {
  .myNoticesWrap {
    padding: 40px;
  }
}

.myNoticesList {
  display: flex;
  min-width: 280px;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 1280px) {
  .myNoticesList {
    justify-content: flex-start;
    gap: 8px;
  }
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .navLink {
    font-size: 16px;
    line-height: 1.25;
    padding: 14px;
    min-width: 114px;
  }
}
.navLinkFavorite {
  color: var(--white-color);

  background-color: var(--main-color);
  border: transparent;
}
.navLinkFavorite:active,
.navLinkFavorite:focus,
.navLinkFavorite:hover {
  color: var(--main-color);
  background-color: var(--main-light);
  border: 1px solid var(--main-color);
}
.navLinkView {
  color: var(--black-color);
  background-color: var(--white-color);
  border: transparent;
}
.navLinkView:active,
.navLinkView:focus,
.navLinkView:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
