.myNoticesWrap {
  padding: 40px 0px;
}

@media screen and (min-width: 768px) {
  .myNoticesWrap {
    padding: 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .myNoticesWrap {
    padding: 40px 32px;
  }
}

.myNoticesList {
  display: flex;
  min-width: 280px;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .myNoticesList {
    max-width: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .myNoticesList {
    justify-content: flex-start;
    gap: 8px;
  }
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  /* min-width: 142px; */
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .navLink {
    font-size: 16px;
    line-height: 1.25;
    padding: 14px;
    min-width: 114px;
  }
}
.navLinkFavorite {
  background-color: var(--main-color);
  border: transparent;
}
.navLinkFavorite:active,
.navLinkFavorite:focus,
.navLinkFavorite:hover {
  color: var(--white-color);
  background-color: var(--dark-hover);
  border: 1px solid var(--light-border-color);
}
.navLinkView {
  color: var(--black-color);
  background-color: var(--white-color);
  border: transparent;
}
.navLinkView:active,
.navLinkView:focus,
.navLinkView:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
