.container {
  margin: 26px 0 80px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    margin-top: 32px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }
}
.noResults {
  color: var(--red-color);
  font-size: 26px;
  margin-top: 50px;
  text-align: center;
}
.noFound.error {
  color: var(--red-color);
  margin-top: 50px;
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .searchWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }
}
