.title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 60px;
  margin-bottom: 15px;
  line-height: 32px;
  color: var(--black-color);
}
.containerProfile {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 335px;
  margin: 0 auto;
  padding: 0 0 20px;
}
@media screen and (min-width: 768px) {
  .containerProfile {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .containerProfile {
    grid-template-columns: 435px 1.1fr;
    max-width: 1216px;
    padding: 0 32px;
  }
}
