.wrapperProfile {
  display: block;
  max-width: 335px;
  margin: 0 auto;
  padding: 10px 2px;
}
@media screen and (min-width: 768px) {
  .wrapperProfile {
    max-width: 768px;
    padding: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperProfile {
    max-width: 1280px;
    padding: 32px;
  }
}

.containerProfile {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .containerProfile {
    margin: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .containerProfile {
    grid-template-columns: 435px 2fr;
    row-gap: 10px;
    column-gap: 5px;
  }
}
