.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modalOverlay:hover {
  cursor: pointer;
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative; */
  padding: 10px;
  min-width: 320px;
  border-radius: 30px;
  min-height: 394px;
  max-width: 473px;
  overflow-x: auto;
  text-align: center;
  background-color: var(--white-color);
}

.modalBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  transition: color 0.3s linear;
  color: var(--black-color);
}
.modalBtn:hover {
  color: var(--dark-hover);
}
.icon {
  width: 24px;
  height: 24px;
}
