.noFound {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  color: var(--red-color);
}
.searchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .searchContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-top: 40px;
  }
}

.search {
  margin-bottom: 24px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .search {
    margin: 0px;
  }
}
