.wrapperHome {
  background-color: aqua;
  min-width: 280px;
  margin: 10px 20px 0 20px;
}
/* @media screen and (min-width: 768px) {
  .wrapperHome {
    margin: 16px 22px 0px 32px;
    padding: 0px 10px 0px 0px;
  }
} */
@media screen and (min-width: 1280px) {
  .wrapperHome {
    /* margin: 0px auto; */
    margin-top: 16px;
    padding: 0px;
    max-width: 1216px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px 20px;
  width: 100%;
  margin: 0 auto;
}

.homeHeader {
  background-color: var(--main-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px;
  }
  .homeHeader {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 32px 64px;
  }
  .homeHeader {
    padding: 32px 64px 0px 32px;
    max-width: 1216px;
  }
}
