.wrapperHome {
  max-width: 335px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .wrapperHome {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapperHome {
    max-width: 1280px;
    margin-top: 10px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px;
  min-width: 280px;
  margin: 0 auto;
}

.homeHeader {
  background-color: var(--main-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px;
  }
  .homeHeader {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 20px 64px 20px 64px;
  }
  .homeHeader {
    padding: 20px 64px 44px 32px;
    max-width: 1280px;
  }
}
