.nav {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .headerMenu {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 200px;
  }
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  min-width: 119px;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid #dad4d4;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.homeNav a.menuItem {
  color: var(--color-white);
}

.homeNav .menuItem:hover,
.homeNav .menuItem:focus,
.homeNav .menuItem:active {
  border-color: var(--color-white);
}

.otherNav .menuItem {
  color: var(--color-black);
}

.otherNav .menuItem:hover,
.otherNav .menuItem:focus,
.otherNav .menuItem:active {
  border-color: #f6b83d;
}
.burgerButton {
  background-color: transparent;
  display: block;
}

@media screen and (min-width: 1279px) {
  .burgerButton {
    display: none;
  }
}

.burgerIcon {
  display: block;
}

.burgerIcon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .burgerIcon {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .burgerIcon {
    display: none;
  }
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* height: 100%; */
}
/* .icons {
  display: flex;
  align-items: center;
  gap: 10px;
} */
.iconsWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.whiteIcon .burgerIcon {
  content: url('../../assets/icons/whiteBurger.svg');
}

.blackIcon .burgerIcon {
  content: url('../../assets/icons/blackBurger.svg');
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-light);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  width: 24px;
  height: 24px;
}

.authButtons {
  width: 100%;
}
