.nav {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: none;
}

@media screen and (min-width: 1280px) {
  .headerMenu {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 167px;
  }
}

.burgerButton {
  background-color: transparent;
  display: block;
}

@media screen and (min-width: 1280px) {
  .burgerButton {
    display: none;
  }
}

.burgerIcon {
  display: block;
}

.burgerIcon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .burgerIcon {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .burgerIcon {
    display: none;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.whiteIcon .burgerIcon {
  content: url('../../assets/icons/whiteBurger.svg');
}

.blackIcon .burgerIcon {
  content: url('../../assets/icons/blackBurger.svg');
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-light);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  width: 24px;
  height: 24px;
}

.authButtons {
  width: 100%;
}
