.nav {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerMenu {
    display: flex;
    gap: 8px;

    align-items: center;
    margin-right: 167px;
  }
}
.burgerButton {
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .burgerButton {
    display: none;
  }
  .whiteBurger {
    display: none;
  }
  .blackBurger {
    display: none;
  }
}

.burgerIcon {
  display: block;
}

@media screen and (min-width: 1280px) {
  .burgerIcon {
    display: none;
  }
}

/* ___________________________ */
.burgerMenu {
  display: none;
}
.butgerMenu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100dvh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 120px 20px 40px;
  z-index: 1000;
}
@media screen and (max-width: 767px) {
  .burgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
  }
}

/* .menuButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100dvh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 120px 20px 40px;
  z-index: 100;
} */

@media screen and (min-width: 1280px) {
  .menuButton {
    display: none;
  }
}

.nav .menuIcon {
  cursor: pointer;

  /* stroke: #262626;
  fill: #262626;
  width: 32px;
  height: 32px; */
}

@media screen and (min-width: 768px) {
  .nav .menuIcon {
    width: 36px;
    height: 36px;
  }
}

.homeNav .icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.closeIcon {
  position: absolute;
  top: 28px;
  right: 20px;
  fill: var(--white-color);
  cursor: pointer;
}

.homeNav .closeIcon {
  fill: #262626;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 15px 20px;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .menuList {
    flex-direction: row;
    gap: 16px;
  }
}

.menuItem {
  background: transparent;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.menuItem:hover {
  color: var(--highlight-color);
  border-color: var(--main-color);
}

.homeNav .menuItem {
  color: var(--black-color);
  border-color: var(--input-default);
}

.homeNav .menuItem:hover,
.homeNav .menuItem:focus,
.homeNav .menuItem:active {
  border-color: var(--main-color);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-light);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  width: 24px;
  height: 24px;
}

.authButtons {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .headerNav {
    display: flex;
    gap: 8px;
    margin-right: 16px;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .headerNav {
    margin-right: 0;
  }
  .menuList {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .menuItem {
    color: var(--black-color);
    border: 1px solid var(--input-default);
  }
  .homeNav .menuItem {
    color: var(--white-color);
    border: 1px solid var(--light-border-color);
  }
  .menuItem:hover,
  .menuItem:focus,
  .menuItem:active {
    border-color: var(--main-color);
  }
  .homeNav .menuItem:hover,
  .homeNav .menuItem:focus,
  .homeNav .menuItem:active {
    border-color: var(--white-color);
  }
}
