.circle {
  width: 40px;
  height: 40px;
  background-color: var(--main-light);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1280px) {
  .circle {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .userIcon {
    width: 24px;
    height: 24px;
  }
}
.userBarContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userName {
  display: none;
}
@media screen and (min-width: 768px) {
  .userName {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    max-width: 50px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-color);
  }
  .userBarContainer {
    margin-left: 10px;
  }
}
.whiteText {
  color: var(--white-color);
}
