.wrapperLogin {
  display: block;
  max-width: 335px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .wrapperLogin {
    max-width: 768px;
    padding: 0 32px 20px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperLogin {
    max-width: 1280px;
    padding: 0px 34px 20px 34px;
  }
}

.pageLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .pageLogin {
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .pageLogin {
    flex-direction: row;
    gap: 32px;
  }
}

.containerLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
  border-radius: 30px;
  padding: 27px 20px;
}
@media screen and (min-width: 768px) {
  .containerLogin {
    border-radius: 60px;
    padding: 80px 100px 60px 100px;
  }
}

@media screen and (min-width: 1280px) {
  .containerLogin {
    width: 592px;
    min-height: 620px;
    padding: 40px 80px 40px 80px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .titleWrapper {
    gap: 25px;
  }
}

.description {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}
