.iconCat {
  width: 80px;
  height: 80px;
  /* margin-bottom: 20px; */
}

.modalWrap {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 40px 28px;
  width: calc(335px - 28px - 28px);
}
@media screen and (min-width: 768px) {
  .modalWrap {
    padding: 80px;
    width: calc(448px - 160px);
  }
}
.iconImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* border-radius: 50px; */
  margin-bottom: 20px;
}

.message {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .message {
    font-size: 24px;
    line-height: 1.17;
  }
}
.modalBtnWrap {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  gap: 8px;
  gap: 8px;
}
.confirmButton,
.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 12px;
  /* width: 100%; */
  width: 135px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3 ease;
  transition: background-color 0.3 ease;
}
@media screen and (max-width: 375px) {
  .confirmButton,
  .cancelButton {
    font-size: 16px;
    padding: 14px;
    width: 112px;
  }
}
.confirmButton {
  background-color: var(--main-color);
  color: var(--white-color);
}
.cancelButton:hover {
  background-color: #e5e7eb;
}
.confirmButton:hover {
  background-color: #f9a825;
}
