:root {
  --main-color: #f6b83d;
  --main-light: #fff4df;
  --dark-hover: #f9b020;
  --hover-light: #fbe7c1;
  --red-color: #ef2447;
  --green-color: #08aa83;
  --white-color: #ffffff;
  --black-color: #262626;
  --female-color: #f43f5e;
  --background-color: #fff4df;
  --female-hover: rgba(244, 63, 94, 0.1);
  --input-default: rgba(38, 38, 38, 0.15);
  --male-color: #54adff;
  --text-color: rgba(255, 255, 255, 1);
  --border-color: rgb(255, 255, 255, 0.15);
  --light-border-color: rgb(255, 255, 255, 0.4);
  --male-hover: rgba(84, 173, 255, 0.1);
  --both-color: rgba(246, 184, 61, 1);
  --both-hover-icon: rgba(255, 244, 223, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Monroe', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
  /* place-items: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow-x: hidden;
  color: #262626;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}
p:last-child {
  margin-bottom: 0;
}
button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
