body {
  font-family: 'Monroe', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  place-items: center;
  min-width: 1440px;
  color: #262626;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}
p:last-child {
  margin-bottom: 0;
}
button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
