.selectContainer {
  border-radius: 30px;
  background-color: var(--hover-light);
  padding: 20px;
  margin-top: 40px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 375px) {
  .selectContainer {
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .selectContainer {
    padding: 40px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .selectContainer {
    padding: 40px;
  }
}
.resetBtn {
  display: flex;
  padding: 12px 50px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: var(--main-color);
  max-width: 180px;
  font-size: 14px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
