.search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--input-default);
  background-color: var(--white-color);
  width: 100%;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .search {
    width: 230;
    padding: 14px;
  }
}
.input {
  flex: 1;
  border: none;
  outline: none;
  background: 0;
  padding: 0;
}
.input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--input-default);
}
@media screen and (min-width: 768px) {
  .input::placeholder {
    font-size: 16px;
  }
}
.iconsSearch,
.clearIcon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.search:focus-within {
  background-color: var(--main-color);
}
.iconsContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media screen and (min-width: 768px) {
  .iconsContainer {
    gap: 4px;
  }
}
