/* .search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--input-default);
  background-color: var(--white-color);
  width: 100%;
  padding: 12px;
}
.search:focus,
.search:hover {
  border: 1px solid var(--dark-hover);
}
@media screen and (min-width: 768px) {
  .search {
    width: 230;
    padding: 14px;
  }
}
.searchContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding-right: 40px;
}

.iconsContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.searchIcon {
  cursor: poiner;
}
.clearButton {
  cursor: poiner;
}
.clearButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: 0;
  padding: 0;
}
.input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--input-default);
}
@media screen and (min-width: 768px) {
  .input::placeholder {
    font-size: 16px;
  }
}


.iconsContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media screen and (min-width: 768px) {
  .iconsContainer {
    gap: 4px;
  }
} */
.search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--input-default);
  background-color: var(--white-color);
  width: 100%;
  padding: 12px;
}

.search:focus,
.search:hover {
  border: 1px solid var(--dark-hover);
}

@media screen and (min-width: 768px) {
  .search {
    width: 300px; /* Додано px для коректного відображення */
    padding: 14px;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1; /* Забезпечує, що поле вводу займає весь доступний простір */
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin-right: 10px; /* Відступ між полем вводу та іконками */
}

.input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--input-default);
}

@media screen and (min-width: 768px) {
  .input::placeholder {
    font-size: 16px;
  }
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 8px; /* Відстань між іконками */
}

.searchIcon,
.clearButton img {
  width: 18px; /* Фіксована ширина для іконок */
  height: 18px; /* Фіксована висота для іконок */
  flex-shrink: 0; /* Забороняє стиснення іконок */
}

.clearButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
